<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wits Energy Visualisations</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Author: KJ Butkow, University Energy Visualizations and Analytics">
    <link rel="stylesheet" href="/cdn/css/bootstrap.css">
    <link rel="stylesheet" href="/cdn/css/landingPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="/cdn/libraries/jquery.js"></script>
    <script defer src="/cdn/libraries/bootstrap.min.js"></script>
    <script defer src="/cdn/libraries/d3.min.js"></script>
    <script defer src="/cdn/scripts/visualisation1.js"></script>
    <script defer src="/cdn/scripts/databaseFunctions.js"></script>
    <script defer src="/cdn/scripts/graphHelpers.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-expand-md fixed-top">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <a class="navbar-brand" href="/">
                <span>
                    <img class="title-image" src="/cdn/img/image.png" alt="Lightbulb"></img>
                </span>
                <span class="site-title menu-collapsed">ENERGY VISUALISATIONS</span>
            </a>
        </div>
        <div class="col-sm-3"></div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link active" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Compare Buildings
                    </a>
                    <a class="nav-link" href="/visualisation2" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Compare Date Ranges
                    </a>
                    <a class="nav-link" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Visualisation 3
                    </a>
                    <a class="nav-link" href="/reportWastage" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Report Resource Wastage
                    </a>
                </li>

            </ul>
        </div>
    </nav>


    <div class="row" id="body-row">

        <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">

            <ul class="list-group sticky-top sticky-offset">
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>DASHBOARD</small>
                </li>
                <a href="#" class="sidenavStyle list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-chart-line mr-3"></span>
                        <span class="menu-collapsed">Compare Buildings</span>
                    </div>
                </a>
                <a href="/visualisation2" class="sidenavStyle list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-chart-area mr-3"></span>
                        <span class="menu-collapsed">Compare Date Ranges</span>
                    </div>
                </a>
                <a href="#" class="sidenavStyle list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-chart-pie mr-3"></span>
                        <span class="menu-collapsed">Visualisation 3</span>
                    </div>
                </a>
                <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                    <small>REPORT</small>
                </li>
                <a href="/reportWastage" class="sidenavStyle list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-start align-items-center">
                        <span class="fa fa-flag mr-3"></span>
                        <span class="menu-collapsed">Resource Wastage </span>
                    </div>
                </a>

            </ul>
        </div>

        <div class="col py-3">
            <div class="row">
                <div class="col-sm-3">
                </div>

                <div class="col-sm-2">
                    <div class="dropdown">
                        <button onclick="unitsSelector()" class="dropbtn btn btn-outline-primary" id="metricsButton">Metric</button>
                        <div id="unitsDropdown" class="dropdown-content">
                            <a id="kWh">Energy (kWh)</a>
                            <a id="kVarh">Reactive Power (kVarh)</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button onclick="years()" class="dropbtn btn btn-outline-primary">Years</button>
                        <div id="yearDropdown2" class="dropdown-content">
                            <a id="2013-2018">All</a>
                            <a id="2013">2013</a>
                            <a id="2014">2014</a>
                            <a id="2015">2015</a>
                            <a id="2016">2016</a>
                            <a id="2017">2017</a>
                            <a id="2018">2018</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button onclick="increments()" class="dropbtn btn btn-outline-primary">Resolution</button>
                        <div id="incrementDropdown" class="dropdown-content">
                            <a id="30m-avg">30 Minutes</a>
                            <a id="1h-avg">1 Hour</a>
                            <a id="6h-avg">6 Hour</a>
                            <a id="12h-avg">12 Hour</a>
                            <a id="1d-avg">1 Day</a>
                            <a id="30d-avg">1 Month</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <button onclick="submitParameters()" type="button" class="btn btn-outline-primary">Draw my graph</button>
                </div>
            </div>
            <div class="container-fluid">
                <div id="my-visualisation"></div>
            </div>
        </div>
    </div>
</body>

</html>