.navbar-default {
    background-color: #22419b;
}

.site-title {
    font-size: 20px;
    color: #ffffff !important;
}

.line {
    fill: none;
    clip-path: url(#clip);
    stroke-width: 1.5px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

body {
    padding-top: 56px;
}

.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    min-height: 100vh;
    background-color: #22419BB3;
    padding: 0;
}


/* Sidebar sizes when expanded and expanded */

.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 60px;
}


/* Menu item*/

#sidebar-container .list-group a {
    height: 65px;
    color: white;
}


/* Submenu item*/

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}


/* Separators */

.sidebar-separator-title {
    background-color: #22419BB3;
    height: 35px;
}

.sidebar-separator {
    background-color: #22419BB3;
    height: 25px;
}

.logo-separator {
    background-color: #22419BB3;
    height: 60px;
}


/* Closed submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    display: inline;
    text-align: right;
    padding-left: 10px;
}


/* Opened submenu icon */

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    display: inline;
    text-align: right;
    padding-left: 10px;
}

.sidenavStyle {
    background-color: #22419BB3;
}

.list-group-item-action:hover,
.list-group-item-action:focus {
    background-color: #9eb6fb;
}

.list-group-item.active {
    background-color: #9eb6fb;
    border-color: #9eb6fb;
}

.navbar-toggler-icon {
    color: white;
}

.fa.fa-navicon {
    color: white;
}

.nav-link {
    color: white;
}

.navbar {
    text-align: center;
    width: 100%;
}

.navbar .navbar-brand {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.active {
    stroke: #000;
    stroke-width: 2px;
}

.circle {
    pointer-events: all;
    stroke: none;
    stroke-width: 20px;
}

text {
    pointer-events: none;
}

.dropbtn {
    background-color: #22419b;
    color: white;
    /* padding: 16px;
    font-size: 16px; */
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #9eb6fb;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
    text-decoration: none;
}

.dropdownLink {
    cursor: pointer;
}

#incrementDropdown {
    cursor: pointer;
}

#unitsDropdown {
    cursor: pointer;
}

.show {
    display: block;
}

.text-muted {
    color: #909eaa !important;
}

#mouse-tracker {
    stroke: #E6E7E8;
    stroke-width: 1px;
}

.container-fluid {
    padding: unset !important;
}

.col-2 {
    max-width: 15%;
}