    .navbar-default {
        background-color: #22419b;
        -webkit-box-shadow: 0px 7px 10px 3px rgba(202, 227, 230, 1);
        -moz-box-shadow: 0px 7px 10px 3px rgba(202, 227, 230, 1);
        box-shadow: 0px 7px 10px 3px rgba(202, 227, 230, 1);
    }
    
    .main {
        margin-top: 50px;
    }
    
    .navbar .nav {
        float: right;
    }
    
    #site-title {
        font-size: 25px;
        color: #ffffff;
    }
    
    #navigateToLink {
        margin-top: 15px;
    }
    
    hr.hr-style {
        border-top: 3px double #8c8b8b;
    }
    
    .navbar {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .open>.dropdown-toggle.btn-primary:hover,
    .btn-primary:active:focus,
    .btn-primary.active:focus,
    .open>.dropdown-toggle.btn-primary:focus,
    .btn-primary:active.focus,
    .btn-primary.active.focus,
    .open>.dropdown-toggle.btn-primary.focus,
    .btn-primary:hover {
        background-color: #22419b;
        color: #fafafa;
        border: none;
    }
    
    .textStyle {
        font-size: 30px;
        color: #40e0d0;
    }
    
    .sidenav {
        background-color: #22419b;
        border-color: #f2f2f2;
    }
    
    .sidenav a {
        float: left;
        color: #fafafa !important;
        text-align: center;
        padding: 14px 2px;
        text-decoration: none !important;
    }
    
    .sidenav a:hover {
        background-color: #f2f2f2;
        color: #40e0d0;
    }
    
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #fafafa;
    }
    
    .line {
        fill: none;
        clip-path: url(#clip);
        stroke-width: 1.5px;
    }